<nav class="navbar navbar-expand-lg bg-success-subtle sticky-top navbar-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FEC Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/books">All Books</a>
                <% if(currentUser){ %>
                    <% if(currentUser.admin){ %>
                        <a class="nav-link" href="/books/new">Add Book</a>
                        <a class="nav-link" href="/books/issues">Issuers</a>
                        <% }else{ %>
                            <a class="nav-link" href="/books/me">My Issued Books</a>
                            <% } %>
                                <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <form action="/search" method="post" class="d-flex">
                    <input class="form-control me-2" name="q" type="text" placeholder="Search Book" aria-label="Search">
                    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                </form>
                <% if(!currentUser){ %>
                    <a href="/login" class="nav-link">LogIn</a>
                    <a href="/signup" class="nav-link">SignUp</a>
                    <% }else{ %>
                        <a href="/logout" class="nav-link">LogOut</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>