<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card bg-info-subtle shadow-lg mb-5">
                <img src="https://images.unsplash.com/photo-1491841573634-28140fc7ced7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center">SignUp Now</h5>
                    <form action="/signup" method="POST" novalidate class="needs-validation">
                        <div class="mb-3 form-floating">
                            <input class="form-control" type="text" name="fullname" id="fullname"
                                placeholder="name@example.com" required autofocus>
                            <label class="form-label" for="fullname">Full Name</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input class="form-control" type="text" name="username" id="username"
                                placeholder="name@example.com" required>
                            <label class="form-label" for="username">Username</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input class="form-control" type="number" name="regno" id="regno"
                                placeholder="name@example.com" required>
                            <label class="form-label" for="regno">Reg No</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input class="form-control" type="email" name="email" id="email"
                                placeholder="name@example.com" required>
                            <label class="form-label" for="email">Email</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="name@example.com" required>
                            <label class="form-label" for="password">Password</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary mb-3">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>